In [1]:
import pandas as pd

import config
import load_CRSP_stock
import load_FF_industry
import load_vix
import clean_CRSP_stock
import misc_tools

DATA_DIR= config.DATA_DIR

In [2]:
df_dsf = load_CRSP_stock.load_CRSP_daily_file(data_dir=DATA_DIR)
df_dsix = load_CRSP_stock.load_CRSP_index_files(data_dir=DATA_DIR)

In [3]:
df_dsf.tail()

,date,permno,permco,exchcd,prc,bid,ask,shrout,cfacpr,cfacshr,ret,retx
392804,1999-08-26,10062,8009,3,1.5000,1.375,1.5000,5813000.0,1.0,1.0,0.000000,0.000000
392805,1999-08-27,10062,8009,3,1.3125,1.250,1.3125,5813000.0,1.0,1.0,-0.125000,-0.125000
392806,1999-08-30,10062,8009,3,1.2500,1.250,1.4375,5813000.0,1.0,1.0,-0.047619,-0.047619
392807,1999-08-31,10062,8009,3,1.2500,1.250,1.3125,5813000.0,1.0,1.0,0.000000,0.000000
392808,1999-09-01,10062,8009,3,1.3125,1.250,1.3750,5813000.0,1.0,1.0,0.050000,0.050000

In [4]:
df_dsix.tail()

,caldt,vwretd,vwindd,vwretx,vwindx,ewretd,ewindd,ewretx,ewindx,sprtrn,...,decret8,decind8,decret9,decind9,decret10,decind10,totval,totcnt,usdval,usdcnt
6536,2023-12-22,0.002470,14981.00,0.002414,3662.303,0.009374,794892.0,0.009240,275884.8,0.001660,...,0.008396,17398.49,0.005503,22554.53,0.001799,13909.95,5.443525e+10,6704,5.430232e+10,6704
6537,2023-12-26,0.005238,15059.47,0.005222,3681.426,0.011148,803753.4,0.010903,278892.9,0.004232,...,0.011786,17603.56,0.007882,22732.30,0.004550,13973.25,5.472024e+10,6702,5.443488e+10,6702
6538,2023-12-27,0.001928,15088.51,0.001727,3687.782,0.006058,808622.5,0.005822,280516.5,0.001430,...,0.002434,17646.41,0.002741,22794.61,0.001732,13997.45,5.481574e+10,6697,5.471872e+10,6697
6539,2023-12-28,-0.000096,15087.06,-0.000287,3686.723,0.002606,810729.9,0.002128,281113.3,0.000370,...,-0.002251,17606.69,-0.000406,22785.36,0.000108,13998.96,5.480362e+10,6698,5.481565e+10,6695
6540,2023-12-29,-0.004099,15025.22,-0.004142,3671.451,-0.008690,803684.6,-0.008777,278646.1,-0.002826,...,-0.012400,17388.37,-0.009884,22560.14,-0.002982,13957.21,5.457905e+10,6698,5.480317e+10,6696

In [6]:
df_cp = pd.read_parquet(DATA_DIR / 'pulled' / 'CRSP_closing_price.parquet')
len(df_cp)

27679114

In [7]:
len(df_dsf)

29892809

In [8]:
df_cp.tail()

,index,date,permno,permco,exchcd,prc,bid,ask,shrout,cfacpr,cfacshr,ret,retx
27679109,392782,1999-07-27,10062,8009,3,1.6250,1.50,1.5625,5813000.0,1.0,1.0,0.118280,0.118280
27679110,392783,1999-07-28,10062,8009,3,1.5625,1.50,1.5625,5813000.0,1.0,1.0,-0.038462,-0.038462
27679111,392784,1999-07-29,10062,8009,3,1.6250,1.50,1.6250,5813000.0,1.0,1.0,0.040000,0.040000
27679112,392785,1999-07-30,10062,8009,3,-1.5625,1.50,1.6250,5813000.0,1.0,1.0,-0.038462,-0.038462
27679113,392808,1999-09-01,10062,8009,3,1.3125,1.25,1.3750,5813000.0,1.0,1.0,0.050000,0.050000

In [11]:
len(df_dsf[df_dsf['prc'] < 0])

1061385

In [12]:
len(df_cp[df_cp['prc'] < 0])

649331

In [14]:
df_cp['transaction_price_return'] = df_cp.groupby('permno')['prc'].pct_change()

/var/folders/8n/rsfbfk1556gb1rdqn5z765400000gn/T/ipykernel_75983/2050366124.py:1: FutureWarning: The default fill_method='ffill' in SeriesGroupBy.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df_cp['transaction_price_return'] = df_cp.groupby('permno')['prc'].pct_change()

In [15]:
df_cp

,index,date,permno,permco,exchcd,prc,bid,ask,shrout,cfacpr,cfacshr,ret,retx,transaction_price_return
0,0,1997-12-01,10062,8009,3,2.8750,2.75,2.8750,40714000.0,0.143,0.143,0.022222,0.022222,NaN
1,1,2001-01-30,10085,8029,1,8.9900,NaN,NaN,46817000.0,1.000,1.000,0.000000,0.000000,NaN
2,2,2001-01-31,10085,8029,1,8.2500,NaN,NaN,46817000.0,1.000,1.000,-0.082314,-0.082314,-0.082314
3,3,2001-02-01,10085,8029,1,8.2000,NaN,NaN,46817000.0,1.000,1.000,-0.006061,-0.006061,-0.006061
4,4,2001-02-02,10085,8029,1,8.1200,NaN,NaN,46817000.0,1.000,1.000,-0.009756,-0.009756,-0.009756
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27679109,392782,1999-07-27,10062,8009,3,1.6250,1.50,1.5625,5813000.0,1.000,1.000,0.118280,0.118280,-2.118276
27679110,392783,1999-07-28,10062,8009,3,1.5625,1.50,1.5625,5813000.0,1.000,1.000,-0.038462,-0.038462,-0.038462
27679111,392784,1999-07-29,10062,8009,3,1.6250,1.50,1.6250,5813000.0,1.000,1.000,0.040000,0.040000,0.040000
27679112,392785,1999-07-30,10062,8009,3,-1.5625,1.50,1.6250,5813000.0,1.000,1.000,-0.038462,-0.038462,-1.961538
27679113,392808,1999-09-01,10062,8009,3,1.3125,1.25,1.3750,5813000.0,1.000,1.000,0.050000,0.050000,-1.840000

In [17]:
df_vix = pd.read_parquet(DATA_DIR  / 'vix.parquet')
df_vix

            VIXCLS
DATE
1998-01-01     NaN
1998-01-02   23.42
1998-01-05   24.36
1998-01-06   25.66
1998-01-07   25.07
...            ...
2023-12-25     NaN
2023-12-26   12.99
2023-12-27   12.43
2023-12-28   12.47
2023-12-29   12.45

[6782 rows x 1 columns]